.card {
    border: 1px solid #c0bebe;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 450px;
    cursor: pointer;
    max-width: 210px;
    max-height: 496px;
}

.cover {
    width: 100%;
    height: auto;
    aspect-ratio: 2 / 3;
    object-fit: contain;
    max-width: 400px;
    max-height: 450px;
    margin: 0 auto 10px;
}

.title {
    font-size: clamp(1rem, 4vw, 1.2rem);
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    color: #373d45;
    line-height: 1.2;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Limita a 2 líneas */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60px; 
}

.author {
    font-size: 0.9rem;
    color: #0070f3;
    margin: 0.2vw;
}

.price {
    font-family: Proxima Nova, -apple-system, Roboto, Arial, sans-serif;
    font-size: 1.1rem;
    margin: 5px 0;
    color: #222222;
}

.buyButton {
    background-color: #0070f3;
    color: white;
    padding: 10px;
    /* 0.625rem */
    border: none;
    border-radius: 4px;
    /* 0.25rem */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    /* 0.3125rem */
    font-size: 1rem;
    /* 16px / 1rem */
    text-transform: uppercase;
    margin-top: 10px;
    /* 0.625rem */
}

.buyButton:hover {
    background-color: #005bb5;
}

.cartIcon {
    font-size: 1rem;
}


/* Formato responsive */
@media (max-width: 1200px) {
    .card {
        max-width: 456px;
        max-height: 630px;
    }
}

@media (max-width: 992px) {
    .card {
        max-width: 456px;
        max-height: 630px;
    }
}

@media (max-width: 576px) {
    .card {
        max-width: 456px;
        max-height: 630px;
    }
}

@media (max-width: 600px) {
    .card {
        max-width: 456px;
        max-height: 630px;
    }
}
