.card {
    border: 1px solid #c0bebe;
    padding: 15px;
    /* 0.9375rem */
    border-radius: 8px;
    /* 0.5rem */
    text-align: center;
    background-color: #e9e8e8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 450px;
    cursor: pointer;
}

.cover {
    width: 100%;
    height: auto;
    aspect-ratio: 2 / 3;
    object-fit: contain;
    max-width: 300px;
    max-height: 450px;
    margin: 0 auto 10px;
}

.title {
    font-size: clamp(1rem, 4vw, 1.2rem);
    margin: 0;
    text-transform: uppercase;
    color: #373d45;
    line-height: 1.2;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Limita a 2 líneas */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60px; /* Altura mínima para el título */
}

.author {
    font-size: 0.9rem;
    /* 14.4px / 0.9rem */
    color: #0070f3;
    margin: 5px 0;
    /* 0.3125rem */
}

.price {
    /* font-size: 1rem; */
    /* 16px / 1rem */
    font: 24px Montserrat, sans-seif;
    /* font-weight: bold; */
    margin: 5px 0;
    /* 0.3125rem */
    color: #222222;
}

.buyButton {
    background-color: #0070f3;
    color: white;
    padding: 10px;
    /* 0.625rem */
    border: none;
    border-radius: 4px;
    /* 0.25rem */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    /* 0.3125rem */
    font-size: 1rem;
    /* 16px / 1rem */
    text-transform: uppercase;
    margin-top: 10px;
    /* 0.625rem */
}

.buyButton:hover {
    background-color: #005bb5;
}

.cartIcon {
    font-size: 1rem;
    /* 16px / 1rem */
}