

.books_scroller{
    width: 100%;
    background-color: #ADD0FF;
    padding: 1rem;
}

.title{
    font-size: larger;
    font-weight: bold;
    width: fit-content;
}

.title hr{
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 120%;
    height: 5px;
    background-color: #ddebfe;
    margin-bottom: 1rem;
}

.content{
    height: 100%;
    display: flex;
}

.content_carousel{
    width: 100%;
    margin-left: 0.5rem;
    height: min-content;
}

.button_left{
    background-color: rgba(0, 0, 0, 0.616);
    height: auto;
    width: 3rem;
}

.button_right{
    background-color: rgba(0, 0, 0, 0.616);
    height: auto;
    width: 3rem;
}

